<div class="card text-center">
  <div class="card-body">
      <h5>Halaman About</h5>
      <p>Halaman about its pretty cool for your guidlines</p>
      <button type="button" class="btn btn-primary btn-md rounded-pill">Go somewhere else</button>
  </div>
</div>

<div class="mx-auto row row-cols-1 row-cols-md-3 g-4 m-3 p-3 col-lg-8">
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/foto1.jpg" class="rounded-circle card-img-top align-self-center" style='height:120px; width:120px;' alt="...">
      <div class="card-body bg-primary mb-3 text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/foto1.jpg" class="rounded-circle card-img-top align-self-center" style='height:120px; width:120px;' alt="...">
      <div class="card-body bg-primary mb-3 text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/foto1.jpg" class="rounded-circle card-img-top align-self-center" style='height:120px; width:120px;' alt="...">
      <div class="card-body bg-primary mb-3 text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>