<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Nama : Anjay Gurinjay
                                    </h5>
                                    <h6>
                                        Email : uchiaanjay@gmail.com
                                    </h6>
                                    <h5>Alamat : Cilolohan</h5>
                                    <h5>Nomor Hp : 084</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Kembali" ui-sref="admin.customer"/>
                    </div>
                    
                </div>
                <div style="float: right;">
                    <button class="btn btn-fw white">Reset Password</button>
                <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Hapus</button>
                </div>
            </form>           
        </div>

<h3>Pesanan Saya</h3>
  <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Alamat</th>
                <th scope="col">Nomor HP</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>20-20-20</td>
                <td>
                  
                  <button type="button" class="btn btn-primary" ui-sref="admin.ctmdetail"></i>Detail</button>
                 
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bootstrap Grid 4 Tutorial and Examples</td>
                <td>Cristina</td>
                <td>3.417</td>
                <td>20-20-20</td>
                <td>
                    <button type="button" class="btn btn-primary"></i>Detail</button>

                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Bootstrap Flexbox Tutorial and Examples</td>
                <td>Cristina</td>
                <td>1.234</td>
                <td>20-20-20</td>
                <td>
                    <button type="button" class="btn btn-primary"></i>Detail</button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>