  <br>
  <div class="box p-a row">
  <div style='float:right; margin:20px'>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">All</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Aktif</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Diterima</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Ditolak</label>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Customer</th>
              <th scope="col">JudulEbook</th>
              <th scope="col">Harga</th>
              <th scope="col">TanggalBeli</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td>2.846</td>
              <td>20-20-20</td>
              <td>
                <button type="button" class="btn btn-warning">Menunggu Verifikasi</i></button>
                <button type="button" class="btn btn-primary">Diterima</i></button>
                <button type="button" class="btn btn-danger">Ditolak</i></button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td>3.417</td>
              <td>20-20-20</td>
              <td>
                <button type="button" class="btn btn-warning">Menunggu Verifikasi</i></button>
                <button type="button" class="btn btn-primary">Diterima</i></button>
                <button type="button" class="btn btn-danger">Ditolak</i></button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bootstrap Flexbox Tutorial and Examples</td>
              <td>Cristina</td>
              <td>1.234</td>
              <td>20-20-20</td>
              <td>
                <button type="button" class="btn btn-warning">Menunggu Verifikasi</i></button>
                <button type="button" class="btn btn-primary">Diterima</i></button>
                <button type="button" class="btn btn-danger">Ditolak</i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>