<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" ui-sref="wilujeng.sumping">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="halaman.berita">Berita</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="our.team">Our Team</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
  <div class="navbar-nav ml-auto">
      <a ui-sref="login.page" class="nav-link">Login</a>
  </div>
</ul>